Repository idrissneumann/devoxx2021-redhat-amadeus-contest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, ui_fpm, ui_nginx

api:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "x86" "devoxxfr-amadeus-api" "1.0"
  tags:
  - devoxxfr

ui_fpm:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "arm" "devoxxfr-amadeus-ui-fpm" "1.0"
  tags:
  - devoxxfr

ui_nginx:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "arm" "devoxxfr-amadeus-ui-nginx" "1.0"
  tags:
  - devoxxfr

Fix: env file
  ci/docker-deliver.sh
Due: api, ui_fpm, ui_nginx

Fix: image names
  docker-compose.yml
Due: api, ui_fpm, ui_nginx

x86 instead of arm
  .gitlab-ci.yml
Due: api, ui_fpm, ui_nginx

Change fpm entrypoint
  .docker/nginx/ui.conf
  .gitlab-ci.yml
Due: api, ui_fpm, ui_nginx

Add readme
  .docker/nginx/ui.conf
  README.md
  api/logging_utils.py
  img/api.png
  img/devoxxfr.jpg
  img/instructions1.jpg
  img/instructions2.jpg
  img/openshift.png
  img/ui.png
Due: api

Add deployment
  .gitlab-ci.yml
  ci/deploy.sh
  ci/docker-deliver.sh
Due: api, ui_fpm, ui_nginx

Improve documentation
  README.md
Due: none

Deployment
  .gitlab-ci.yml
  ci/deploy.sh
Due: api, ui_fpm, ui_nginx

Add mirroring
  .gitlab-ci.yml
  README.md
  ci/mirror.sh
Due: api, ui_fpm, ui_nginx

Fix: mirror
  .gitlab-ci.yml
Due: api, ui_fpm, ui_nginx

Add git links
  README.md
Due: none

Refactor airports
  ui/index.php
Due: ui_fpm, ui_nginx

Add some airports
  ui/index.php
Due: ui_fpm, ui_nginx

Rename column
  ui/js/main.js
Due: none

Re-order airports
  ui/index.php
Due: ui_fpm, ui_nginx

Add portainer screenshot
  README.md
  img/portainer.png
Due: none

Add portainer screenshot
  README.md
Due: none

Add TOC
  README.md
Due: none

Indentation
  ui/index.php
Due: ui_fpm, ui_nginx

Use an api for airports instead
  .env.dist
  api/api.py
  api/api_airports.py
  ci/deploy.sh
  ui/index.php
Due: api, ui_fpm, ui_nginx

Use an api for airports instead
  ci/deploy.sh
Due: none

Add demo
  README.md
Due: none

Update LICENSE
  LICENSE
Due: none

Move project
  ci/docker-deliver.sh
  ci/mirror.sh
Due: api, ui_fpm, ui_nginx

Remove cors app, already handled by reverse proxy
  api/api.py
  api/requirements.txt
Due: api

Use another runner to build those images
  .gitlab-ci.yml
Due: api, ui_fpm, ui_nginx

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: api, ui_fpm, ui_nginx

Update ci/deploy.sh
  ci/deploy.sh
Due: none

Add dockerignore file
  .dockerignore
Due: none

Fix: werkzeug
  api/requirements.txt
Due: api

Path conditions:
  api: any of: .gitlab-ci.yml, api/*, ci/docker-deliver.sh, docker-compose.yml, Dockerfile
  ui_fpm: any of: .gitlab-ci.yml, ui/*, ci/docker-deliver.sh, docker-compose.yml, Dockerfile
  ui_nginx: any of: .gitlab-ci.yml, ui/*, ci/docker-deliver.sh, docker-compose.yml, Dockerfile
